@import url(./reset.css);


/* 麵包屑返回列表 */

#backbutton {
    display: flex;
    padding-top: 40px;
    padding-left: 100px;


}

#backbutton i {
    margin-left: 10px;
}

#backbutton a {

    text-decoration: none;
    color: black;
}

#backbutton p {
    margin-left: 10px;
}



/* 領養須知內容 */


#article {

    /* border: 2px solid #424242; */
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;

    position: relative;
}


#article h1 {

    font-size: 20px;
    padding-bottom: 20px;
}

#article .p1 {
    padding-bottom: 40px;
    font-size: 14px;
}

#article ol {
    
}

#article ol li {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 14px;
}

#article ol p {
    font-size: 12px;
    padding-bottom: 24px;
}


#article .p3 {
    padding: 20px 0px;
    font-size: 14px;

}




