@import url(./reset.css);


/* 麵包屑返回列表 */

#backbutton {
    display: flex;
    padding-top: 40px;
    padding-left: 100px;


}

#backbutton i {
    margin-left: 10px;
}

#backbutton a {

    text-decoration: none;
    color: black;
}

#backbutton p {
    margin-left: 10px;
}



/* 領養須知內容 */


#article {

    border: 2px solid #424242;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;

    position: relative;
}


#article h1 {

    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#article .p1 {
    padding-bottom: 40px;
}

#article ol {
    
}

/* #article ol::before {
    content: '';
    display: block;
    width: 920px;
    height: 1px;
    background-color: #ADAAAA;

    position: absolute ;
    left: 0;
    top: 100px;
} */

#article ol::after {

    content: '';
    display: block;
    width: 1000px;
    height: 1px;
    background-color: #ADAAAA;

    position: absolute ;
    left: 20px;
    top: 715px;
}

#article ol li {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    font-size: 16px;
}

#article ol p {
    font-size: 14px;
    padding-bottom: 28px;
}


#article .p3 {
    padding: 40px 0px;

}




