@import url(./reset.css);

body {
    font-family: "Noto Sans TC", sans-serif;
}

/*           最外層包裝         */

#wrapper {
    width: 100%;
    margin: 0 auto;
}


/*           主選單         */

#maintop {
    background-color: #888888;
    
}

#maintop .top {

    height: 70px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#maintop .top img {

    margin-left: 41px;
    width: 189px;
    height: 49px;

}

#maintop .middle {
    margin-left: 100px;
}


#maintop .middle ul {
    display: flex;
}

#maintop .middle li {
    margin: 0 30px;
    line-height: 30px;
}


#maintop .middle li:last-child {
    margin-left: 260px;
}


#maintop .middle ul li a {
     color: #ffff;
    text-decoration: none; 

    /* color: #424242; */
    text-align: center;
}

#maintop .middle li a:hover {
    color: #FFA338;
    border-bottom: 2px solid #FFA338;
}

#maintop .middle ul li i {
    color: #ffff;
}

#maintop .burger {
    display: none;
}





/*           頁尾        */

footer {
    border-top: 1px solid#ADAAAA;
    background-color: #424242;
    text-align: center;
    padding: 20px;
}

footer img {
    width: 228px;
    height: 59px;
}

footer ul {
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer li a {
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    color: #FFFFFF;
}

footer li a:hover {
    color: #F9D6AE;
}



/*---------- 螢幕小於 820 時 ----------*/

@media screen and (max-width: 820px) {
    #maintop {
        background-position: center;
    }

    #maintop .middle {
        margin-left: 0px;
    }

    #maintop .middle ul {
        /* width: 300px; */
        margin-left: 30px;
    }

    #maintop .middle li {
        /* width: 70px; */
        margin: 0 18px;

    }

    #maintop .middle li a {
        font-size: 12px;
    }

    #maintop .middle li:last-child {
        margin-left: 80px;
    }

    footer p {
        font-size: 12px;
    }

    footer li a {
        font-size: 14px;
    }

}








/*---------- 螢幕小於 430 時 ----------*/



@media screen and (max-width: 430px) {

    #maintop {
       
    }

    #maintop .top {
        width: 100%;
    }

    .top .burger {
        display: block;
        margin-left: 210px;
    }

    #maintop .top img {
        width: 160px;
        margin-left: 15px;
    }

    #maintop .middle ul {

        display: none;
        background-color: #424242;
        position: absolute;
        right: 0;
        top: 70px;
        /* display: block; */

        z-index: 1;

    }

    #maintop .middle li {
        float: none;
        clear: both;
        line-height: 40px;
        border-bottom: 1px solid #a6937c;
        width: 100px;
        text-align: center;
    }

    #maintop .middle li:last-child {
        display: none;
    }

    #maintop .middle li a {
        color: #FFFFFF;
    }

    #maintop .burger {

        display: block;
        margin-left: 210px;
    }
 
    
    #down {
        
    }

    #maintop .middle ul li:hover {
        display: block;
    }





    footer img {
        width: 170px;
    }

    footer ul {
        width: 390px;
    }

    footer li {
        height: 30px;
    }

    footer p {
        line-height: 1.2;
    }




}