@import url(./reset.css);




/* 商品會員大圖 */

#bigpic {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

#bigpic img {}



/* 加入會員選單 */

#joinus {

    width: 1200px;
    margin: 0 auto;
    margin-top: 24px;
    padding-bottom: 36px;

    border-bottom: 1px solid #424242;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

#joinus .left {
    display: flex;
    flex-direction: column;
}


#joinus .left button {
    width: 200px;
    height: 40px;

    background-color: #F9D6AE;
    border: 1px solid #424242;
    border-radius: 40px;

}

/* #joinus .left a {
    text-decoration: none;
    color: #424242;
} */

#joinus .left p {
    width: 523px;
    line-height: 1.7;
    padding-bottom: 10px;
    font-size: 16px;

}

#joinus img {
    width: 320px;
    height: 140px;
}

#joinus .member {

    display: flex;
    justify-content: space-between;
    gap: 12px;

}

#joinus button:hover {
    background-color: #F44336;
}



/* 商品列表 */


.outside {
    width: 1200px;
    /* height: 1000px; */
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}


#shoplist {}

#shoplist ul {
    padding-top: 20px;
    display: flex;
    width: 190px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

}

#shoplist ul li {

    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 12px;
}


#shoplist a {

    color: #424242;
    text-decoration: none;
}

#shoplist ul li:hover {
    background-color: #F9D6AE;
}




/* 麵包屑返回列表 */

#alllist {
    width: 950px;

}

#alllist .one {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


#alllist .backbutton {
    width: 160px;
    padding-top: 26px;
    padding-bottom: 20px;

    display: flex;
}



#alllist .backbutton a {

    text-decoration: none;
    color: #424242;
}


#alllist .backbutton p {}



/* 罐頭陳列 */


#alllist .canlist {

    width: 948px;
    display: flex;
    /* height: 200px; */
    justify-content: space-between;
}

#alllist .canlist .can {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#alllist .canlist .can a {}

#alllist .canlist .can img {
    height: 120px;
    padding-bottom: 20px;
}


#alllist .canlist .can h4 {
    padding: 10px;
}

#alllist .canlist .can p {}




/* 麵包屑返回列表 */


#alllist .cattoy {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
}

#alllist .cattoy i {}

#alllist .cattoy a {
    text-decoration: none;
    color: #424242;
}

#alllist .cattoy p {}



/* 抓柱陳列 */



#alllist .toylist {

    width: 948px;
    justify-content: space-between;
    padding-bottom: 20px;

    display: flex;
}

#alllist .toylist .toy {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#alllist .toylist .toy img {
    height: 210px;
}

#alllist .toylist .toy a {}

#alllist .toylist .toy h4 {

    padding-top: 30px;
}

#alllist .toylist .toy p {}



/* 麵包屑返回列表 */

#alllist .catbedlist {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 30px;

    display: flex;
}

#alllist .catbedlist i {}

#alllist .catbedlist a {
    text-decoration: none;
    color: #424242;
}

#alllist .catbedlist p {}



/* 貓窩列表 */

#alllist .catbed {
    width: 948px;
    justify-content: space-between;
    display: flex;
}

#alllist .catbed .bed {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#alllist .catbed .bed img {
    height: 210px;
    padding-bottom: 30px;
}

#alllist .catbed .bed a {}

#alllist .catbed .bed h4 {}

#alllist .catbed .bed p {}


.swiper {
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide .can {}

.swiper-slide .can h4 {}

.swiper-slide .can p {}

.swiper-slide .toy {}

.swiper-slide .toy img {}

.swiper-slide .toy h4 {}

.swiper-slide .toy p {}

.swiper-slide .bed {}

.swiper-slide .bed img {}

.swiper-slide .bed h4 {}

.swiper-slide .bed p {}

.swiper-pagination {}


/*---------- 螢幕小於 820 時 ----------*/

@media screen and (max-width: 820px) {
    #bigpic {
        width: auto;
    }

    #bigpic img {
        width: 100%;
    }

    #joinus {
        width: auto;

        flex-direction: column-reverse;
    }

    #joinus .left {
        flex-direction: row-reverse;
        margin-top: 20px;
    }

    #joinus .left p {
        width: 550px;
    }

    #joinus .left button {
        height: 60px;
        border-radius: 0px;
        margin-right: 10px;
        color: #424242;
    }


    #joinus img {
        width: 380px;
    }

    #joinus .member {}

    .outside {
        width: 760px;
        flex-direction: column;

        /* height: auto; */
    }

    #shoplist {}

    #shoplist ul {
        flex-direction: row;
        width: 600px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #alllist {
        width: 100%;
    }

    #alllist .one {
        width: 760px;
    }

    #alllist .canlist {
        flex-wrap: wrap;
        width: 760px;
        height: auto;
    }

    #alllist .toylist {
        width: 780px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #alllist .catbed {
        flex-wrap: wrap;
        width: 760px;
        justify-content: space-evenly;
    }

    #alllist .catbed .bed img {
        height: 170px;
    }
}



/*---------- 螢幕小於 430 時 ----------*/

@media screen and (max-width:430px) {

    #bigpic img {
        height: 200px;
    }

    #joinus {
        margin-top: 20px;
    }

    #joinus .member {
        flex-direction: column;
        gap: 0px;
    }

    #joinus img {
        width: 430px;
        height: 200px;
        padding-bottom: 20px;
    }

    #joinus .left {
        flex-direction: column;
        margin-top: 0;
    }

    #joinus .left p {
        width: 410px;
        padding-bottom: 20px;
    }

    #joinus .left a {
        width: 200px;
        margin: 0 auto;
    }

    .outside {
        width: 100%;
    }

    #shoplist {
        display: none;
    }

    #alllist {}

    #alllist .one {
        width: 400px;
    }

    #alllist .canlist {
        display: none;
    }

    #alllist .toylist {
        display: none;
    }

    #alllist .catbed {
        display: none;
    }

    #alllist .backbutton {
        padding-left: 30px;
    }

    #alllist .cattoy {
        padding-left: 30px;
    }

    #alllist .catbedlist {
        padding-left: 30px;
    }

    .swiper {
        display: block;
    }

    .swiper-wrapper {
        width: 400px;
        height: 200px;
    }

    .swiper-horizontal {
        width: 400px;
        height: 210px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .swiper img {
        width: 100px;
    }

    .swiper-slide .can {
        padding-bottom: 10px;
    }

    .swiper-slide .can h4 {
        font-size: 16px;
    }

    .swiper-slide .can p {
        font-size: 14px;
    }

    .swiper-slide .toy {

        padding-bottom: 30px;

    }

    .swiper-pagination {
        padding-top: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #F9D6AE ;
        
    }

}