@import url(./reset.css);

body {}

/* 麵包屑返回列表 */

#backbutton {
    display: flex;
    padding-top: 50px;
    padding-left: 24px;

}

#backbutton i {
    margin-left: 10px;
}

#backbutton a {

    text-decoration: none;
    color: black;
}

#backbutton p {
    margin-left: 10px;
}






/* 加入會員選單 */

#joinus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

#joinus .asign {
    text-decoration: none;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 610px;
}

#joinus .asign a {}


#joinus .asign button {
    background-color: #F9D6AE;
    color: #424242;
    padding: 30px 40px;
    border-radius: 28px;
    border: 1px solid #ADAAAA;
}


#joinus .asign p {
    font-size: 14px;
    width: 460px;
    line-height: 1.3;
}

#joinus .pic {}


#joinus .pic img {
    height: 120px;
}


#joinus button:hover {
    background-color: #F44336;
}






/* 商品列表 */

#shoplist {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

#shoplist ul {
    display: flex;
    justify-content: space-between;
}

#shoplist ul li {
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 12px;
}

#shoplist a {
    color: #424242;
    text-decoration: none;
}

#shoplist ul li:hover {
    background-color: #F9D6AE;
}

#shoplist .list {
    display: none;
}




/* 罐頭陳列*/

#canlist {
    width: 1200px;
    margin: 0 auto;
    margin-top: 48px;



    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#canlist .can {
    margin: 0px 30px;
    margin-bottom: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#canlist .can img {
    height: 150px;
    margin-bottom: 10px;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

#canlist .can h4 {
    margin-bottom: 5px;
}

#canlist .can p {}

#canlist .can:hover img {

    transform: scale(1.2, 1.2);
}


/* 頁數選單*/

#numlist {
    padding-bottom: 60px;

}

#numlist ul {}

#numlist ul a {

    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #424242;
}

#numlist ul li {
    padding: 0 12px;
    height: 20px;
}

#numlist ul .num {
    width: 24px;
    text-align: center;
    padding-bottom: 8px;
}


#numlist ul li i {}


#numlist ul li i:hover {
    color: #F9D6AE;
}

#numlist ul .num:hover {
    color: #424242;
    border-bottom: 1px solid #424242;

}





/*---------- 螢幕小於 820 時 ----------*/


@media screen and (max-width:820px) {

    #joinus {
        width: 100%;
        flex-direction: column;
    }

    #joinus .asign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 740px;
        padding-bottom: 10px;
    }

    #joinus .asign a {}

    #joinus .asign button {
        width: 180px;
        height: 30px;
        line-height: 0px;
    }

    #joinus .asign p {
        width: 550px;
        line-height: 1.2;
    }

    #joinus .pic img {
        width: 370px;
        height: 150px;
    }

    #shoplist {
        width: 680px;
        margin-top: 30px;
    }

    #shoplist ul {
        flex-wrap: wrap;
    }

    #shoplist ul li {
        margin-bottom: 10px;
    }

    #canlist {
        width: 790px;
    }

    #canlist .can {
        margin: 0 20px;
        margin-bottom: 50px;
    }


}

/*---------- 螢幕小於 430 時 ----------*/

@media screen and (max-width:430px) {

    #joinus {
        /* border-bottom: none; */
    }

    #joinus .asign {
        flex-direction: column;
        width: 100%;
    }

    #joinus .asign p {
        width: 365px;
    }

    #joinus .asign button {
        width: 365px;
        padding: 20px;
        margin-bottom: 10px;
    }

    #joinus .pic img {}

    #joinus .pic {
        width: 369px;
        margin: 0 auto;
    }

    #canlist {
        width: 400px;
    }

    #shoplist {
        width: 100%;
    }

    #shoplist ul {

        
        background-color: gray;
        position: absolute;
        right: 180px;
        top: 683px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        display: none;
    }

    #shoplist ul li {

        float: none;
        clear: both;
        line-height: 40px;
        border-bottom: 1px solid #a6937c;
        width: 200px;
        text-align: center;
        background-color: transparent; 
        border: none;
        border-radius: 0px;

    }

    #shoplist .list {
        
        display: block;
        border: 1px solid #424242;
        width: 400px;
        height: 30px;
        border-radius: 20px;
        text-align: end;
        margin: 0 auto;
        background-color: gray;
       
    }


    #shoplist .list i {
        font-size: 30px;
        padding-right: 10px;
    }

    #shoplist a {
        color: white;
    }


}