@import url(./reset.css);

/* 登入會員頁面 */

#register {

    background-image: url(../img/signin.png);
    height: 620px;
    background-size: cover;
    color: #424242;

    position: relative;
}

#register .registerInform {

    /* background-color:#fff;
    opacity: 0.7; */
    border-radius: 20px;
    padding: 20px;
    width: 500px;

    position: absolute;
    left: 120px;
    top: 60px;
}

#register .registerInform h1 {

    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}


.registerInform .registerItem {

    display: flex;
    margin-bottom: 60px;
}


.registerItem h2 {

    font-size: 16px;
    padding-right: 28px;
}

.registeritem_cont input {

    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 1px solid #323233;
    width: 400px;
}


.registerInform button {

    background-color: #424242;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    color: #fff;


    /* margin-left: 190px; */
    margin-bottom: 10px;
}


.registerInform .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.registerInform a {
    text-decoration: none;
    color: #424242;
    font-size: 14px;
}

.registerInform .aa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.registerInform .a1 {
    font-size: 12px;
    color: #424242;
    text-decoration: none;
    /* margin-left: 400px; */

}

.registerInform a:hover {
    color: #f2b166;
}




/*---------- 螢幕小於 820 時 ----------*/

@media screen and (max-width: 820px) {

    #register {

        height: 1180px;
        background-position: center;
        /* opacity: 0.3; */

    }

    #register .registerInform {
        position: absolute;
        left: 130px;
        top: 210px;
    }

    .registerInform .aa {

    }

    .registerInform .a1 {

    }

    .registerInform .registerItem {

    }

    .registerInform .link {}
}



/*---------- 螢幕小於 430 時 ----------*/

@media screen and (max-width: 430px) {
    
    #register {

    }

    #register .registerInform {
        position: absolute;
        left: 0px;
        top: 80px;
        width: 390px;
    }

    .registerInform .registerItem {
        display: flex;
        flex-direction: column;
    }

    .registerInform .link {

    }

    .registeritem_cont input {
        width: 380px;
        padding-bottom: 10px;
    }

    .registerItem h2 {
        padding-bottom: 20px;
    }

    
}