@import url(./reset.css);

/* 隱私權及服務條款 */

.service {

    /* border: 1px solid #424242; */
    padding: 40px;
    margin: 40px;
}

.service h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.service p {
    font-size: 14px;
}

.service h2 {
    font-weight: bold;
}