@import url("reset.css");

/* body {
    font-family: "Noto Sans TC", sans-serif;
} */

a {
    color: #424242;
    text-decoration: none;
}

#wrapper {
    width: 100%;
    margin: 0 auto;

    overflow: hidden;
}


/*        主選單和首圖       */

#maintop {
    background-image: url(../img/mainpage.png);
    background-size: cover;
    height: 670px;
}

#banner {
    padding-bottom: 24px;
}

#banner img {

    background-size: cover;
}

#banner .top p {
    line-height: 1.4;
}

#maintop .top {
    background-color: #FFFFFF;
    opacity: 0.7;
    height: 70px;


    display: flex;
    align-items: center;
    position: relative;

}



#maintop .top img {
    margin-left: 41px;
    width: 189px;
    height: 49px;

}

#maintop .middle {

    margin-left: 100px;
}


#maintop .middle ul {
    display: flex;
}

#maintop .middle li {
    margin: 0 30px;
    line-height: 30px;
}

#maintop .middle li:last-child {
    margin-left: 260px;
}

#maintop .middle li i {
    color: #424242;
}

#maintop .middle li a {
    color: #424242;
    text-align: center;
}

#maintop .middle li a:hover {
    color: #FFA338;
    border-bottom: 2px solid #FFA338;
}

.top .burger {
    display: none;
}




/*         留言板輪播      */

.out {
    width: 1200px;
    margin: 0 auto;
}

#messagerow1 {

    /* width: 100%; */
    /* width: 1200px; */
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    overflow: hidden;


}


#messagerow {

    /* width: 100%; */
    /* width: 1200px; */
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    overflow: hidden;



}

#messagerow1 .message1 {
    border: 2px solid #424242;
    border-radius: 20px;
    width: 240px;
    height: 64px;
    padding: 5px 10px;
    margin: 0 8px;


    position: relative;
    animation: message1 40s ease-in-out infinite
}

#messagerow .message {
    border: 2px solid #424242;
    border-radius: 20px;
    width: 240px;
    height: 64px;
    padding: 5px 10px;
    margin: 0 8px;


    position: relative;
    animation: message 38s ease-in-out infinite;
}

#messagerow1 .message1 a {
    display: block;

}


#messagerow .message a {
    display: block;

}

#messagerow1 .message1 .ppic {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#messagerow .message .ppic {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#messagerow .message .ppic img {}



#messagerow1 .message1 .ppic h3 {
    font-size: 18px;
    margin-left: 12px;

}

#messagerow .message .ppic h3 {
    font-size: 18px;
    margin-left: 12px;

}

#messagerow1 .message1 p {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 12px;
}


#messagerow .message p {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 12px;
}

#messagerow1 li:hover {
    background: #F9D6AE;

}

#messagerow li:hover {
    background: #F9D6AE;

}

@keyframes message {
    0% {
        right: -800px;
    }

    50% {
        right: 220px
    }

    100% {
        right: 800px;
    }
}


@keyframes message1 {
    0% {
        right: -800px;
    }

    50% {
        right: 200px
    }

    100% {
        right: 800px;
    }
}



/* 中間廣告的部分 */

#banner {
    /* border: 1px solid red; */
    height: 140px;

    display: flex;
    align-items: center;


    padding: 10px;
    padding-bottom: 20px;
    margin: 20px;

}

#banner .bannerTitle {
    font-family: "Dancing Script", cursive;
    font-weight: bold;

    font-size: 60px;

}

#banner .bannerArticle {
    margin-top: 20px;
    margin-left: 30px;
}

#banner .bannerArticle .top {

    font-size: 18px;
}

#banner .bannerItem {

    display: flex;
    justify-content: space-between;

    padding-top: 40px;

}

.bannerItem1 {

    background-color: #F9D6AE;
    border: 1px solid black;
    border-radius: 10px;
}


#banner .bannerItem p {

    margin: 10px;

}



/*         中間提醒文字      */

#text1 {
    width: 1200px;
    margin: 0 auto;
    /* margin-top: 100px; */
    padding-bottom: 28px;
    text-align: center;
    line-height: 20px;

    position: relative;
}

#text1 p {
    font-size: 14px;
}

#text1 p::before {
    content: '';
    display: block;
    width: 380px;
    height: 1px;
    background-color: black;

    position: absolute;
    left: 0px;
    top: 10px;
}

#text1 p::after {
    content: '';
    display: block;
    width: 380px;
    height: 1px;
    background-color: black;

    position: absolute;
    right: 0px;
    top: 10px;
}

#text2 {
    width: 1200px;
    margin: 0 auto;

    padding-bottom: 28px;
    padding-top: 40px;
    text-align: center;
    line-height: 20px;

    position: relative;
}

#text2 p {
    font-size: 14px;
}

#text2 p::before {
    content: '';
    display: block;
    width: 380px;
    height: 1px;
    background-color: black;

    position: absolute;
    left: 0px;
    top: 50px;
}

#text2 p::after {
    content: '';
    display: block;
    width: 380px;
    height: 1px;
    background-color: black;

    position: absolute;
    right: 0px;
    top: 50px;
}



/*          小圖領養        */


.icon i {
    font-size: 32px;
    display: none;
}

#smallcatpic {}

#smallcatpic .catpicall {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#smallcatpic .catpic {
    margin-top: 40px;
    margin: 0 20px;
    position: relative;

}

#smallcatpic .catpic a {}

#smallcatpic .catpic img {
    border-radius: 50%;
    border: 2px solid #424242;
    box-sizing: border-box;
    display: block;
}

#smallcatpic .catpic h1 {
    font-family: "Lobster", sans-serif;
    display: none;
    font-size: 36px;
    color: white;

    position: absolute;
    left: 40px;
    top: 80px;

}

#smallcatpic .catpic:hover h1 {
    display: block;
}

.swiper {
    display: none;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper2 {
    display: none;
}

.swiper2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*          創辦人欄位        */

#owner {
    background-color: #424242;
    color: white;
    margin-top: 72px;
    overflow: hidden;
    border-top-left-radius: 350px;
    padding-top: 20px;


    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 260px 50px;
    gap: 30px;
}

#owner img {

    grid-column: 4 / 5;
    /* grid-row: 3 /-3; */
    margin-right: 120px;
    margin-top: 20px;

    height: 380px;

}

#owner h1 {
    font-size: 32px;
    margin-top: 130px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#owner h3 {

    font-size: 16px;
    line-height: 1.6;
    margin-top: 120px;

    grid-column: 2 / 4;
    grid-row: 2 / 2;
}




/*          頁尾        */

footer {
    /* border-top: 1px solid#ADAAAA; */
    background-color: #424242;
    text-align: center;
    padding: 20px;
}

footer img {
    width: 228px;
    height: 59px;
}

footer ul {
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer li {}

footer li a {
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    color: #FFFFFF;
}

footer li a:hover {
    color: #F9D6AE
}





/*---------- RWD螢幕斷點 ----------*/

/*---------- 螢幕小於 820 時 ----------*/

@media screen and (max-width: 820px) {

    #maintop {
        background-position: center;
        height: 560px;
    }

    #maintop .middle {
        margin-left: 0px;
    }

    #maintop .middle ul {
        /* width: 300px; */
        margin-left: 30px;
    }

    #maintop .middle li {
        /* width: 70px; */
        margin: 0 18px;

    }

    #maintop .middle li a {
        font-size: 12px;
    }

    #maintop .middle li:last-child {
        margin-left: 80px;
    }

    #banner {
        height: 100px;
    }

    #banner .bannerTitle {
        font-size: 40px;
    }

    #banner .bannerArticle {
        margin-top: 0px;
        margin-left: 18px;

    }

    #banner .bannerArticle .top {
        font-size: 11px;
        line-height: 1.2;
    }

    #banner .bannerItem {
        padding-top: 10px;
    }

    #banner .bannerItem p {
        font-size: 10px;
        margin: 8px;
    }

    #text1 {

        width: 800px;
    }

    #text1 p::before {
        width: 160px;
    }

    #text1 p::after {
        width: 160px;
    }

    #messagerow {}

    #text2 {
        width: 800px;
    }

    #text2 p::before {

        width: 160px;
    }

    #text2 p::after {
        width: 160px;
    }

    #smallcatpic .catpic:hover h1 {
        display: none;
    }


    #smallcatpic .catpicall {
        display: none;
    }

    .swiper {
        display: block;
    }

    .swiper .swiper-pagination {}

    .swiper .swiper-wrapper {
        padding-bottom: 20px;
        height: 270px;

    }

    #owner {
        margin-top: 40px;
    }

    #owner img {
        margin-right: 60px;
        height: 350px;

    }

    #owner h1 {
        font-size: 28px;
    }

    footer p {
        font-size: 12px;
    }

    footer li a {
        font-size: 14px;
    }



}


/*---------- 螢幕小於 430 時 ----------*/

@media screen and (max-width: 430px) {

    #maintop {
        height: 320px;
    }

    #maintop .top {
        width: 100%;
    }

    .top .burger {
        display: block;
        margin-left: 210px;
    }

    #maintop .top img {
        width: 160px;
        margin-left: 15px;
    }

    #maintop .middle ul {
        display: none;
        background-color: #424242;
        position: absolute;
        right: 0;
        top: 70px;

    }


    #maintop .middle li {
        float: none;
        clear: both;
        line-height: 40px;
        border-bottom: 1px solid #a6937c;
        width: 100px;
        text-align: center;
    }

    #maintop .middle li:last-child {
        display: none;
    }

    #maintop .middle li a {
        color: #FFFFFF;
    }


    #banner {
        height: 80px;
    }

    #banner .bannerTitle {
        background-color: #F9D6AE;
        padding: 10px;
        border-radius: 20px;
        text-align: center;

    }

    #banner .bannerArticle {}

    #banner .bannerArticle .top {
        /* display: none; */
        font-size: 13px;
        line-height: 1.3;

    }

    #banner .bannerItem {
        display: none;
    }

    #text1 {
        width: 400px;
        padding-top: 20px;
    }

    #text1 p {
        font-size: 13px;
    }

    #text1 p::before {
        /* display: none; */
        width: 390px;

        position: absolute;
        left: 0px;
        top: 10px;
    }


    #text1 p::after {
        /* display: none; */
        width: 390px;

        position: absolute;
        left: 0px;
        top: 50px;
    }

    #text2 {
        width: 390px;
    }

    #text2 p::before {
        /* display: none; */
        width: 390px;

        position: absolute;
        left: 0px;
        top: 30px;
    }

    #text2 p::after {
        /* display: none; */
        width: 390px;

        position: absolute;
        right: 0px;
        top: 70px;
    }


    #owner {}

    #owner img {
        height: 200px;
    }

    #messagerow {
        display: none;
    }

    #smallcatpic {
        margin-top: 12px;
    }

    #smallcatpic .catpic:hover h1 {
        display: none;
    }

    #owner {

        border-top-left-radius: 0px;
        display: flex;
        flex-direction: column;
        gap: 0px;

        margin-top: 24px;

    }

    #owner img {
        width: 170px;
        margin: 0 auto;
        border-radius: 20px;
    }

    #owner h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }

    #owner h3 {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;

        padding: 0 65px;
    }

    footer img {
        width: 170px;
    }

    footer ul {
        width: 390px;
    }

    footer li {
        height: 30px;
    }

    footer p {
        line-height: 1.2;
    }

    .swiper {
        width: 410px;
        display: none;
    }

    .swiper-slide {}


    #smallcatpic .catpic {
        margin:0px;
    }

    .swiper2 {
        display: block;
    }

    #smallcatpic .swiper2 .catpic img {
        width: 170px;
    }

    .swiper2 .swiper-wrapper {
        height: 200px;
        padding-bottom: 30px;
    }

    .swiper2 .swiper-pagination {
        top: 960px;
    }

    .swiper-pagination-bullet-active {
        background-color: #F9D6AE;
    }

}